{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="fade">
        
    </div>
    <div>
        <h1>Todos nossos discos!</h1>
        {% for disco in discos %}
            <a href="{% url 'detail' disco.pk %}">{{ disco.nome }}</a>
            <br>
        {% endfor %}
    </div>
</body>
</html>